.image-box{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.image{
  width: 100%;
  height: 540px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}
.image:not(:first-child) {
  margin: 10px;
  width: 150px;
  height: 150px;
  border-radius: 150px;
}
.image:first-child {
  margin-bottom: 35px;
}
.content{
  line-height: 125%;
  letter-spacing: 2px;
}
.show-little{
  min-height: 100px;
  overflow: hidden;
  display: block;
}
